@font-face {
    font-family: "Cairo";
    src: url("../fonts/Cairo-VariableFont_slnt\,wght.ttf");
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#0d6efd, #dc3545);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#dc3545, #0d6efd);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo";
    font-weight: 500;
    direction: rtl;
}

pre {
    font-family: "Cairo";
    font-weight: 500;
    font-size: 18px;
}

.pro-log {
    background: linear-gradient(#e0e0e0, #ffffff);
    display: flex;
    padding: 25px;
}

.box-page {
    margin-top: 100px;
    max-height: fit-content;
}

.user-info {
    border-bottom: 1px solid #34495e;
    text-align: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
}

nav {
    z-index: 999999;
}

@media (min-width: 768px) {
    nav {
        right: 0;
        bottom: 0;
    }

    .menuToggle {
        display: none;
    }
}

@media (max-width: 768px) {
    .link-nav-1 {
        max-height: 0;
        overflow: hidden;
        transition: 1s;
    }

    .link-nav-1.act {
        max-height: 600px;
    }

    .user-info {
        display: none;
    }
    .control {
        flex-wrap: wrap;
    }
}

.chat-area {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
}

.users-list {
    min-height: 250px;
    max-height: 250px;
}

@media (min-width: 992px) {

    .users-list,
    .chat-area {
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
    }

}

.message-input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
}

.right-0 {
    right: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.profile-info {
    border-bottom: 1px solid #34495e;
    text-align: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    font-size: 100px;
}

.post-avatar {
    width: 50px;
    height: 50px;
}

.active-link {
    background-color: #1a354f;
    color: white !important;
}

.bg-option {
    display: block;
    text-align: center;
    cursor: pointer;
}

.bg-option input {
    display: none;
}

.bg-option img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    transition: 0.3s;
}

.bg-option input:checked+img {
    border: 3px solid #0d6efd !important;
    transform: scale(1.05);
}

.bg-option span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.text-post {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}